.BooksSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0px 20px 40px 20px;
}

.button {
	border: none;
	outline: none;
	padding: 10px;
	cursor: pointer;
}